<div class="wrapper">
  <div class="card-title">Login</div>
  <div class="wrapper-input">
    <input type="email" name="email" id="user-email" [(ngModel)]="email" required spellcheck="false">
    <span class="placeholder" [class.active]>
      email
    </span>
  </div>
  <div class="wrapper-input">
    <input type="password" name="password" id="user-password" [(ngModel)]="password" required spellcheck="false">
    <span class="placeholder">
      password
    </span>
  </div>
  <div class="button">
    <button type="submit" routerLink="/registration" routerLinkActive="active"
      ariaCurrentWhenActive="page">Registration</button>
    <button type="submit" routerLink="/typing-game" routerLinkActive="active" ariaCurrentWhenActive="page"
      (click)="login()">Login</button>
    <div id="g_id_onload"></div>


  </div>
</div>