.wrapper {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Lighter and softer shadow */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 400px;
    height: 400px;
}
.card-title{
    color: #000;
    width: 100%;
    height: 15%;
    justify-content: center;
    font-size: 35px;
}
.wrapper-input {
    position: relative;
    display: flex;
    width: 100%;
    height: 25%;
    min-width: 300px;
    margin-bottom: 25px;
}
input{
    width: 100%;
    margin: 15px;
    padding: 5px; 
    border: none;
    outline: none;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    font-size: 16px;
}
div.wrapper-input span.placeholder {
    position: absolute;
    margin: 17px 0;
    padding: 0 4px;
    font-family: Roboto, sans-serif;
    color:  #6c757d;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    top: 0;
    left: 17px;
    transition: all 0.2s;
    transform-origin: 0% 0%;
    background: none;
    pointer-events: none;
  }
  div.wrapper-input input:valid + span.placeholder,
  div.wrapper-input input:focus + span.placeholder {
    transform: scale(0.8) translateY(-30px);
    background: #fff;
  }
  div.wrapper-input input:focus{
    color: #284B63;
    border-color: #284B63;
  }
  div.wrapper-input input:focus + span.placeholder {
    color: #284B63;
  }

.card-title,
.card-content {
    display: flex;
    justify-content: center;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
button{
    margin-left: 10px;
    padding: 5px;
    background-color: white;
    width: 20%;
    height: 5vh;
    border:none;
}
button:hover{
    border-radius: 5px;
    background-color: #cccccc;
}
.icon-google{
    width: 20px;
}