.result-wrapper {
  width: 80%;
  margin: 0 auto;
  color: var(--primaryColor);
}

.summary-cards {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.card {
  background: #292929;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.chart-section {
  margin: 20px 0;
}
.word-table table {
  width: 100%;
  border-collapse: collapse;
}
.word-table th, .word-table td {
  border: 1px solid #555;
  padding: 8px;
  text-align: center;
}
.restart-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
