<div class="profile-wrapper">
  <div class="profile-info" *ngIf="userDetail">
    <p>Name: {{ userDetail.fullName }}</p>
    <p>Time typing: {{ formatTime(timeTyping) }}</p>
    <p>Number of tests : {{ records.length }}</p>
  </div>

  <div class="level-section" *ngIf="userDetail">
    <p class="level">Level: {{ userDetail.displayLevel || userDetail.level }}</p>
    <p class="xp">XP: {{ userDetail.experiencePoints }} / {{ userDetail.experienceToNextLevel }}</p>
    <div class="xp-bar-wrapper">
      <div class="xp-bar"
           [style.width.%]="(userDetail.experiencePoints / userDetail.experienceToNextLevel) * 100">
      </div>
    </div>
  </div>

  <!-- Heatmap -->
  <div class="heatmap-wrapp">
    <div class="heatmap">
      <div class="month" *ngFor="let month of months">
        <div class="month-name">{{ month }}</div>
        <div class="days">
          <div class="day"
               *ngFor="let value of heatmapData[month]; let i = index"
               [ngClass]="initializeHeatmapLevel(value)"
               [title]="month + ' ' + (i + 1) + ': ' + value + ' records'">
          </div>
        </div>
      </div>
    </div>

    <div class="legend">
      <span>less</span>
      <div class="legend-scale">
        <div class="level-0">1</div>
        <div class="level-1">2</div>
        <div class="level-2">3</div>
        <div class="level-3">4</div>
        <div class="level-4">5</div>
        <div class="level-5">6</div>
      </div>
      <span>more</span>
    </div>
  </div>

  <!-- Filters -->
  <div class="graph-filters">
    <label>Time range:</label>
    <select [(ngModel)]="selectedRange" (change)="generateGraphs()">
      <option value="7">Last 7</option>
      <option value="30">Last 30</option>
      <option value="all">All</option>
    </select>

    <label>Type:</label>
    <select [(ngModel)]="selectedMetric" (change)="generateGraphs()">
      <option value="wpm">WPM</option>
      <option value="accuracy">Accuracy</option>
      <option value="both">WPM + Accuracy</option>
    </select>
  </div>

  <!-- Chart -->
  <div class="chart-section" *ngIf="records.length">
    <h3>Typing Progress (WPM + Accuracy)</h3>
    <canvas baseChart [data]="lineChartData"
            [options]="lineChartOptions"
            [type]="'line'">
    </canvas>
  </div>

  <!-- Stats -->
  <div class="profile-stats" *ngIf="records.length > 0">
    <div class="stat-column">
      <div class="label">tests started</div>
      <div class="value">{{ testsStarted }}</div>

      <div class="label">highest wpm</div>
      <div class="value">{{ highestWpm }}</div>

      <div class="label">highest raw wpm</div>
      <div class="value">{{ averageRawWpm }}</div>

      <div class="label">highest accuracy</div>
      <div class="value">{{ highestAccuracy }}%</div>

      <div class="label">highest consistency</div>
      <div class="value">{{ highestConsistency }}%</div>
    </div>

    <div class="stat-column">
      <div class="label">tests completed</div>
      <div class="value">{{ testsCompleted }} (100%)</div>
      <div class="sub">0.0 restarts per completed test</div>

      <div class="label">average raw wpm</div>
      <div class="value">{{ averageRawWpm }}</div>

      <div class="label">avg accuracy</div>
      <div class="value">{{ averageRawAccuracy }}%</div>

      <div class="label">avg consistency</div>
      <div class="value">{{ averageRawConsistency }}%</div>
    </div>

    <div class="stat-column">
      <div class="label">estimated words typed</div>
      <div class="value">{{ estimatedWordsTyped }}</div>

      <div class="label">time typing</div>
      <div class="value">{{ formatTime(timeTyping) }}</div>
    </div>
  </div>

  <!-- Table -->
  <div class="statistic-wrapp">
    <div class="header-info">
      <div>WPM</div>
      <div>Raw</div>
      <div>Accuracy</div>
      <div>Chars</div>
      <div>Match time</div>
      <div>Data time</div>
    </div>

    <div class="record-info"
         *ngFor="let record of reversedRecords; trackBy: trackByDateRecord">
      <div>{{ record.wpm }}</div>
      <div>{{ record.raw }}</div>
      <div>{{ record.accuracy }}%</div>
      <div>{{ record.chars }}</div>
      <div>{{ record.matchTime }} sec</div>
      <div>{{ record.dateRecord | date: 'HH:mm dd-MMM' }}</div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="button-container">
    <button type="submit" routerLink="/typing-game"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            class="button">Back</button>
    <button (click)="logout()" class="button logout-button">Logout</button>
  </div>
</div>
